
{% load static %}



    <header class="header_in clearfix">
	    <div class="container">
	        <div id="logo">
	            <a href="index.html">
	                <!-- <img src="{% static 'img/logo_sticky.svg' %}" width="140" height="35" alt=""> -->
					<img src="{% static 'img/amul logo1.jpg' %}" width="162" height="35" alt="" class="logo_sticky">
	            </a>
	        </div>
	        <div class="layer"></div><!-- Opacity Mask Menu Mobile -->
	        <ul id="top_menu">
                {% if 'sid' in request.session %}
	            <li><a href="{% url 's-logout' %}" class="login"></a></li>
                
	            <!-- <li><a href="wishlist.html" class="wishlist_bt_top" title="Your wishlist">Your wishlist</a></li> -->
                <li>
                    <div class="dropdown user clearfix">
                        <a href="{% url 'profile' %}" data-toggle="dropdown">
                            <span>Profile</span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="dropdown-menu-content">
                                <ul>
                                    <li><a href="{% url 'profile' %}"><i class="icon_cog"></i>Profile</a></li>
                                    <!-- <li><a href="#0"><i class="icon_document"></i>Bookings</a></li> -->
                                    <!-- <li><a href="#0"><i class="icon_heart"></i>Wish List</a></li>
                                    <li><a href="#0"><i class="icon_key"></i>Log out</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /dropdown -->
                </li>
                {% endif %}
	        </ul>
	        <!-- /top_menu -->
	        <a href="#0" class="open_close">
	            <i class="icon_menu"></i><span>Menu</span>
	        </a>
	        <nav class="main-menu">
	            <ul>
	                <li class="submenu">
                        <a href="#0" class="show-submenu">product</a>
                        <ul>
                            <li><a href="{% url 'addPro' %}">Add Product</a></li>
                            <li><a href="{% url 'showproduct' %}">Show Product</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
	                    <a href="#0" class="show-submenu">Order</a>
	                </li> 
                    <li class="submenu">
                        <a href="{% url 'sellercontact' %}" class="show-submenu">Contacts</a>
                        
                    </li>
	            </ul>
	        </nav>
	    </div>
	</header>
	
    
	


    