{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="FooYes - Quality delivery or takeaway food">
	<meta name="author" content="Ansonika">
	<title>Amul-The Taste of India</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="{% static 'img/apple-touch-icon-57x57-precomposed.png' %}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
		href="{% static 'img/apple-touch-icon-72x72-precomposed.png' %}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
		href="{% static 'img/apple-touch-icon-114x114-precomposed.png' %}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
		href="{% static 'img/apple-touch-icon-144x144-precomposed.png' %}">

	<!-- GOOGLE WEB FONT -->
	<link href="{% static 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap' %}"
		rel="stylesheet">

	<!-- BASE CSS -->
	<link href="{% static 'css/bootstrap_customized.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">

	<!-- SPECIFIC CSS -->
	<link href="{% static 'css/order-sign_up.css' %}" rel="stylesheet">

	<!-- YOUR CUSTOM CSS -->
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">

</head>

<body id="register_bg">

	<div id="register">
		<aside>
			<figure>
				<a href="{% url 'sellerindexpage' %}"><img src="{% static 'img/seeklogo.png' %}" width="140" height="35" alt=""></a>
			</figure>
			<!--div class="access_social">
					<a href="#0" class="social_bt facebook">Register with Facebook</a>
					<a href="#0" class="social_bt google">Register with Google</a>
			</div-->
			<form action="{% url 'sregister' %}" id="regform" method="POST">{% csrf_token %}
				<div class="form-group" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
					<input class="form-control" type="text" name="fname" placeholder="First Name">

				</div>
				<div class="form-group" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
					<input class="form-control" type="text" name="lname" placeholder="Last Name">

				</div>
				<div class="form-group" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
					<input class="form-control" type="text" name="adr" placeholder="Address">

					</div>
				<div class="form-group" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
					<input class="form-control" type="number" name="ph" placeholder="Mobile Namber">

				</div>
				<div class="form-group" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
					<input class="form-control" type="email" name="Email" placeholder="Email">
				</div>
				<div class="form-group" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
					<input class="form-control" type="password" name="Password" placeholder="Password">
				</div>
				<div class="form-group" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
					<button class="form-control" type="submit" value="Register" style="background: rgb(190, 224, 158);">Register</button>
				</div>
				<!-- <div class="col-sm-12">
					<button type="submit" class="btn btn-primary btn-round">Submit</button>
				</div> -->
				<!-- <input type="submit" class="btn btn-primary btn-round" value="Submit"> -->
				<div class="text-center mt-2"><small>Already have an acccount? <strong><a href="{% url 's-login' %}">Sign In</a></strong></small></div>
		
			</form>
			<div class="copy">Amul </div>
		</aside>
	</div>
	<!-- /login -->

	<!-- COMMON SCRIPTS -->
	<!-- <script src="{% static 'js/common_scripts.min.js' %}"></script> -->
	<script src="{% static 'js/common_func.js' %}"></script>
	<script src="{% static 'assets/validate.js' %}"></script>

	<!-- SPECIFIC SCRIPTS -->
	<script src="{% static 'js/pw_strenght.js' %}"></script>

</body>

</html>