
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="FooYes - Quality delivery or takeaway food">
	<meta name="author" content="Ansonika">
	<title>Amul-The Teste of India</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="{% static 'img/apple-touch-icon-57x57-precomposed.png' %}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
		href="{% static 'img/apple-touch-icon-72x72-precomposed.png' %}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
		href="{% static 'img/apple-touch-icon-114x114-precomposed.png' %}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
		href="{% static 'img/apple-touch-icon-144x144-precomposed.png' %}">

	<!-- GOOGLE WEB FONT -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

	<!-- BASE CSS -->
	<link href="{% static 'css/bootstrap_customized.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">

	<!-- SPECIFIC CSS -->
	<link href="{% static 'css/detail-page.css' %}" rel="stylesheet">

	<!-- YOUR CUSTOM CSS -->
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">

</head>

<body data-spy="scroll" data-target="#secondary_nav" data-offset="75">
	{% include 'app/base.html' %}
	<main>
        <div class="hero_in detail_page background-image" data-background="url({% static 'img/Amul-banner.jpg' %}">
			<div class="wrapper opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
                <div class="container">
					<div class="main_info">
						<div class="row">
							<div class="col-xl-4 col-lg-5 col-md-6">
								<h1>Amul-The Teste of India</h1>
								India-Amul Dairy,Ahmedabad <a
								href="https://www.google.com/maps/dir//Assistance+%E2%80%93+H%C3%B4pitaux+De+Paris,+3+Avenue+Victoria,+75004+Paris,+Francia/@48.8606548,2.3348734,14z/data=!4m15!1m6!3m5!1s0x47e66e1de36f4147:0xb6615b4092e0351f!2sAssistance+Publique+-+H%C3%B4pitaux+de+Paris+(AP-HP)+-+Si%C3%A8ge!8m2!3d48.8568376!4d2.3504305!4m7!1m0!1m5!1m1!1s0x47e67031f8c20147:0xa6a9af76b1e2d899!2m2!1d2.3504327!2d48.8568361"
								target="blank">Get directions</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 
		<div class="bg_gray">
	        <div class="container margin_detail">
	            <div class="row">
	                <div class="col-lg-8 list_menu">
					{% for i in ca %}
	                    <section id="section-1">
	                        <h4></h4>
	                        <div class="table_wrapper">
	                            <table class="table cart-list menu-gallery">
	                                <thead>
	                                    <tr>
	                                        <th>
	                                            Image
	                                        </th>
	                                        <th>
                                                Product Name
	                                        </th>
	                                        <th>
												Price
	                                        </th>
                                            <th>
												Quantity
	                                        </th>
                                            <th>
												Total
	                                        </th>
                                            <th>
												Remove
	                                        </th>
										</tr>
	                                </thead>
	                                <tbody>
	                                    <tr>
	                                        <td class="d-md-flex align-items-center">
	                                            <figure><img src="{{MEDIA_URL}}{{i.product.Pro_image.url}}" data-src="" alt="thumb"
													class="lazy" height="100" width="100"></figure>
	                                        </td>
	                                        <td>
	                                            <strong>{{i.product.Pro_name}}</strong>
												<strong>{{i.product.Pro_weight}}{{i.product.Pro_weightCat}}</strong>
	                                        </td>
											
	                                        <td class="options">
	                                            <strong>{{i.product.Pro_price}}</strong>
											</td>
                                            <td class="content">
												<div class="numbers-row">
													<input type="text" value="1" id="qty_1" class="qty2 form-control" name="quantity">
												</div>
											</td>
                                            <td>
                                                <strong>{{i.product.Total}}</strong>
                                            </td>
                                            <td class="options">
	                                            <div class="dropdown dropdown-options">
	                                                <a href="{% url 'remove' pk=i.id %}" ><i class="icon_minus_alt2"></i></a>
											    </div>
								            </td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                        </div>
                        </section>
	                {% endfor %}
					</div>
					<div class="col-lg-4" id="sidebar_fixed">
	                    <div class="box_order mobile_fixed">
	                        <ul class="clearfix">
	                                <!-- <li><a href="#0">1x Enchiladas</a><span>$11</span></li> -->
	                                
	                            </ul>
	                        <div class="main">
	                            <ul class="clearfix">
	                                <li>Subtotal<span>$56</span></li>
	                                <li></li>
	                                <li class="total">Total<span>$66</span></li>
	                            </ul> 
	                            <div class="btn_1_mobile">
	                                <a href="{% url 'checkout' %}" class="btn_1 gradient full-width mb_5">Order Now</a>
	                                <!-- <div class="text-center"><small>No money charged on this steps</small></div> -->
	                            </div>
	                        </div>
	                    </div>
	                    <!-- /box_order -->
	                   
	                </div>
	            </div>
	        </div>
	    </div>
	</main>

    {% include 'app/footer.html' %}
    <!-- COMMON SCRIPTS -->
    <script src="{% static 'js/common_scripts.min.js' %}"></script>
    <script src="{% static 'js/common_func.js' %}"></script>
    <script src="{% static 'assets/validate.js' %}"></script>

    <!-- Video header -->
    <script src="{% static 'js/modernizr.min.js' %}"></script>
    <script src="{% static 'js/video_header.min.js' %}"></script>
    <script>
        HeaderVideo.init({
            container: $('.header-video'),
            header: $('.header-video--media'),
            videoTrigger: $("#video-trigger"),
            autoPlayVideo: true
        });
    </script>

    <!-- Autocomplete -->
    <script>
        function initMap() {
            var input = document.getElementById('autocomplete');
            var autocomplete = new google.maps.places.Autocomplete(input);

            autocomplete.addListener('place_changed', function () {
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    window.alert("Autocomplete's returned place contains no geometry");
                    return;
                }

                var address = '';
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(' ');
                }
            });
        }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places&callback=initMap"></script>

</body>

</html>